@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);




#ext_menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-7 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7 .close-icon::before,
#ext_menu-7 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7 .link,
#ext_menu-7 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-7 .link {
  font-size: 0.75rem;
}
#ext_menu-7 .dropdown-item,
#ext_menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7 .link:hover,
#ext_menu-7 .dropdown-item:hover,
#ext_menu-7 .link:focus,
#ext_menu-7 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-7 .nav-dropdown-sm .link:focus,
#ext_menu-7 .nav-dropdown-sm .link:hover,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-7 .navbar,
#ext_menu-7 .nav-dropdown-sm,
#ext_menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7 .bg-color.transparent.opened .link:hover,
#ext_menu-7 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-7 .btn {
  font-family: 'Open Sans', sans-serif;
}
#slider-1 H2 {
  font-size: 48px;
  font-family: 'Merriweather', serif;
}
#content8-8 .mbr-section-title,
#content8-8 p {
  text-align: right;
  color: #fff;
}
#social-buttons2-3 .mbr-section-title,
#social-buttons2-3 .btn-social {
  color: #232323;
}



#ext_menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-24 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-24 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-24 .close-icon::before,
#ext_menu-24 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-24 .link,
#ext_menu-24 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-24 .link {
  font-size: 0.75rem;
}
#ext_menu-24 .dropdown-item,
#ext_menu-24 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-24 .link:hover,
#ext_menu-24 .dropdown-item:hover,
#ext_menu-24 .link:focus,
#ext_menu-24 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-24 .nav-dropdown-sm .link:focus,
#ext_menu-24 .nav-dropdown-sm .link:hover,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-24 .navbar,
#ext_menu-24 .nav-dropdown-sm,
#ext_menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-24 .bg-color.transparent.opened .link:hover,
#ext_menu-24 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-24 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-27 .mbr-plan-header,
#pricing-table2-27 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-27 ul,
#pricing-table2-27 .mbr-plan-title,
#pricing-table2-27 .mbr-price-value,
#pricing-table2-27 .mbr-price-figure,
#pricing-table2-27 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-27 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-27 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}



#ext_menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-14 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-14 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-14 .close-icon::before,
#ext_menu-14 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-14 .link,
#ext_menu-14 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-14 .link {
  font-size: 0.75rem;
}
#ext_menu-14 .dropdown-item,
#ext_menu-14 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-14 .link:hover,
#ext_menu-14 .dropdown-item:hover,
#ext_menu-14 .link:focus,
#ext_menu-14 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-14 .nav-dropdown-sm .link:focus,
#ext_menu-14 .nav-dropdown-sm .link:hover,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-14 .navbar,
#ext_menu-14 .nav-dropdown-sm,
#ext_menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-14 .bg-color.transparent.opened .link:hover,
#ext_menu-14 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-14 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-16 .mbr-plan-header,
#pricing-table2-16 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-16 ul,
#pricing-table2-16 .mbr-plan-title,
#pricing-table2-16 .mbr-price-value,
#pricing-table2-16 .mbr-price-figure,
#pricing-table2-16 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-16 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-16 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}



#ext_menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-17 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-17 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-17 .close-icon::before,
#ext_menu-17 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-17 .link,
#ext_menu-17 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-17 .link {
  font-size: 0.75rem;
}
#ext_menu-17 .dropdown-item,
#ext_menu-17 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-17 .link:hover,
#ext_menu-17 .dropdown-item:hover,
#ext_menu-17 .link:focus,
#ext_menu-17 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-17 .nav-dropdown-sm .link:focus,
#ext_menu-17 .nav-dropdown-sm .link:hover,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-17 .navbar,
#ext_menu-17 .nav-dropdown-sm,
#ext_menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-17 .bg-color.transparent.opened .link:hover,
#ext_menu-17 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-17 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-19 .mbr-plan-header,
#pricing-table2-19 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-19 ul,
#pricing-table2-19 .mbr-plan-title,
#pricing-table2-19 .mbr-price-value,
#pricing-table2-19 .mbr-price-figure,
#pricing-table2-19 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-19 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-19 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}



#ext_menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-20 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-20 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-20 .close-icon::before,
#ext_menu-20 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-20 .link,
#ext_menu-20 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-20 .link {
  font-size: 0.75rem;
}
#ext_menu-20 .dropdown-item,
#ext_menu-20 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-20 .link:hover,
#ext_menu-20 .dropdown-item:hover,
#ext_menu-20 .link:focus,
#ext_menu-20 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-20 .nav-dropdown-sm .link:focus,
#ext_menu-20 .nav-dropdown-sm .link:hover,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-20 .navbar,
#ext_menu-20 .nav-dropdown-sm,
#ext_menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-20 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-20 .bg-color.transparent.opened .link:hover,
#ext_menu-20 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-20 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-22 .mbr-plan-header,
#pricing-table2-22 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-22 ul,
#pricing-table2-22 .mbr-plan-title,
#pricing-table2-22 .mbr-price-value,
#pricing-table2-22 .mbr-price-figure,
#pricing-table2-22 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-22 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-22 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}



#ext_menu-23 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-23 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-23 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-23 .close-icon::before,
#ext_menu-23 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-23 .link,
#ext_menu-23 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-23 .link {
  font-size: 0.75rem;
}
#ext_menu-23 .dropdown-item,
#ext_menu-23 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-23 .link:hover,
#ext_menu-23 .dropdown-item:hover,
#ext_menu-23 .link:focus,
#ext_menu-23 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-23 .link[aria-expanded="true"],
#ext_menu-23 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-23 .nav-dropdown-sm .link:focus,
#ext_menu-23 .nav-dropdown-sm .link:hover,
#ext_menu-23 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-23 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-23 .navbar,
#ext_menu-23 .nav-dropdown-sm,
#ext_menu-23 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-23 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-23 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-23 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-23 .bg-color.transparent.opened .link:hover,
#ext_menu-23 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-23 .link[aria-expanded="true"],
#ext_menu-23 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-23 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-26 .mbr-plan-header,
#pricing-table2-26 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-26 ul,
#pricing-table2-26 .mbr-plan-title,
#pricing-table2-26 .mbr-price-value,
#pricing-table2-26 .mbr-price-figure,
#pricing-table2-26 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-26 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-26 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}



#ext_menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-27 .navbar-caption {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#ext_menu-27 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-27 .close-icon::before,
#ext_menu-27 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-27 .link,
#ext_menu-27 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-27 .link {
  font-size: 0.75rem;
}
#ext_menu-27 .dropdown-item,
#ext_menu-27 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-27 .link:hover,
#ext_menu-27 .dropdown-item:hover,
#ext_menu-27 .link:focus,
#ext_menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-27 .nav-dropdown-sm .link:focus,
#ext_menu-27 .nav-dropdown-sm .link:hover,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-27 .navbar,
#ext_menu-27 .nav-dropdown-sm,
#ext_menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-27 .bg-color.transparent.opened .link:hover,
#ext_menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-27 .link[aria-expanded="true"],
#ext_menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-27 .btn {
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-29 .mbr-plan-header,
#pricing-table2-29 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-29 ul,
#pricing-table2-29 .mbr-plan-title,
#pricing-table2-29 .mbr-price-value,
#pricing-table2-29 .mbr-price-figure,
#pricing-table2-29 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-29 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-29 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
